# Environment files
.env

# Caches and temporary files
cache/
data/

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js dependencies
src/frontend/node_modules/

# Logs and system files
*.log
src/backend/resume.txt   